<div class="truck-card card p-3 mb-3 shadow-sm">
    <h5 class="mb-2">Truck {{truck.id}}</h5>
    <p>Vin: {{truck.vin}}</p>
    <p>Brand: {{truck.brand}}</p>
    <p>Year: {{truck.year}}</p>
    <p>Mileage: {{truck.mileage}}</p>
    <p>Truck Status: {{truck.truck_status}}</p>
    <p>Truck Location: {{truck.truck_location}}</p>

    {% for driver in truck.get_drivers %}
        <p>Driver: {{ driver.driver_name }}</p>
    {% empty %}
        <p>No drivers assigned</p>
    {% endfor %}

<a href="{% url 'truck_modify' id=truck.id %}" class="btn btn-primary">Edit</a>
</div>
